    {% block topmenu %}
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="{{ path('horus_site_main') }}" class="navbar-brand">Horus CMF</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li class="dropdown {% if  app.request.attributes.get('_route') == "horus_site_commercial_create" or app.request.attributes.get('_route') == "horus_site_commercials" or app.request.attributes.get('_route') == 'horus_site_products' or app.request.attributes.get('_route') == 'horus_site_create_product' %}active{% endif %}">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes"><i class="glyphicon glyphicon-gift"></i>  Produits <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="themes">
                            <li><a tabindex="-1" href="{{ path('horus_site_products') }}"><i class="glyphicon glyphicon-list"></i> Mes produits</a></li>
                            <li><a tabindex="-1" href="{{ path('horus_site_create_product') }}"><i class="glyphicon glyphicon-plus-sign"></i> Créer un produit</a></li>
                            <li><a tabindex="-1" href="{{ path('horus_site_commercials') }}"><i class="glyphicon glyphicon-star"></i> Actions commerciales</a></li>
                            <li><a tabindex="-1" href="{{ path('horus_site_commercial_create') }}"><i class="glyphicon glyphicon-star-empty"></i> Créer commerciale</a></li>
                        </ul>
                    </li>
                    <li class="dropdown {% if app.request.attributes.get('_route') == 'horus_site_add_famille' or  app.request.attributes.get('_route') == 'horus_site_familles' or app.request.attributes.get('_route') == 'horus_site_categories' or app.request.attributes.get('_route') == 'horus_site_add_category' %}active{% endif %}">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download"><i class="glyphicon glyphicon-folder-open"></i>  Catégories<span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="download">
                            <li><a tabindex="-1" href="{{ path('horus_site_categories') }}"><i class="glyphicon glyphicon-folder-close"></i> Gérer les catégories</a></li>
                            <li><a tabindex="-1" href="{{ path('horus_site_add_category') }}"><i class="glyphicon glyphicon-folder-open"></i> Créer une catégorie</a></li>
                            <li><a tabindex="-1" href="{{ path('horus_site_familles') }}"><i class="glyphicon glyphicon-briefcase"></i> Mes familles</a></li>
                            <li><a tabindex="-1" href="{{ path('horus_site_add_famille') }}"><i class="glyphicon glyphicon-bookmark"></i> Créer une famille</a></li>
                        </ul>
                    </li>
                    <li class="dropdown {% if  app.request.attributes.get('_route') == 'horus_site_tag_create' or  app.request.attributes.get('_route') == 'horus_site_tags' or app.request.attributes.get('_route') == 'horus_site_pages' or  app.request.attributes.get('_route') == 'horus_site_page_create' or app.request.attributes.get('_route') == 'horus_site_articles' or app.request.attributes.get('_route') == 'horus_site_article_create' %}active{% endif %}">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes"><i class="glyphicon glyphicon-list-alt"></i>  Contenu <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="themes">
                            <li><a tabindex="-1" href="{{ path('horus_site_pages') }}"><i class="glyphicon glyphicon-book"></i> Mes pages</a></li>
                            <li><a tabindex="-1" href="{{ path('horus_site_page_create') }}"><i class="glyphicon glyphicon-file"></i> Créer une page</a></li>
                            <li><a tabindex="-1" href="{{ path('horus_site_articles') }}"><i class="glyphicon glyphicon-tags"></i> Mes articles</a></li>
                            <li><a tabindex="-1" href="{{ path('horus_site_article_create') }}"><i class="glyphicon glyphicon-pencil"></i> Créer une article</a></li>
                            <li><a tabindex="-1" href="{{ path('horus_site_tags') }}"><i class="glyphicon glyphicon-tags"></i> Mes tags</a></li>
                            <li><a tabindex="-1" href="{{ path('horus_site_tag_create') }}"><i class="glyphicon glyphicon-tag"></i> Créer un produit</a></li>
                        </ul>
                    </li>
                    <li class="{% if app.request.attributes.get('_route') == 'horus_site_medias'%}active{% endif %}">
                            <a tabindex="-1" href="{{ path('horus_site_medias') }}"><i class="glyphicon glyphicon-picture"></i> Gérer les médias</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download"><i class="glyphicon glyphicon-plus"></i>  Plus<span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="download">
                            <li><a tabindex="-1" href="./bootstrap.min.css"><i class="glyphicon glyphicon-th-list"></i> Gérer les commandes</a></li>
                            <li><a tabindex="-1" href="./bootstrap.min.css"><i class="glyphicon glyphicon-usd"></i> Gérer les factures</a></li>
                            <li><a tabindex="-1" href="./bootstrap.min.css"><i class="glyphicon glyphicon-road"></i> Gérer les transports</a></li>
                            <li><a tabindex="-1" href="./bootstrap.min.css"><i class="glyphicon glyphicon-user"></i> Gérer les clients</a></li>
                            <li><a tabindex="-1" href="./bootstrap.min.css"><i class="glyphicon glyphicon-shopping-cart"></i> Gérer les paniers</a></li>
                            <li><a tabindex="-1" href="./bootstrap.min.css"><i class="glyphicon glyphicon-comment"></i> Gérer les commentaires</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="configuration"><i class="glyphicon glyphicon-cog"></i> Configuration<span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="download">
                            <li><a tabindex="-1" href="./bootstrap.min.css">Ma Boutique</a></li>
                            <li><a tabindex="-1" href="./bootstrap.css">Mon Compte</a></li>
                            <li class="divider"></li>
                            <li><a tabindex="-1" href="./variables.less">Mon Catalogue</a></li>
                            <li><a tabindex="-1" href="./variables.less">Mon Contrat VAD</a></li>
                        </ul>
                    </li>
                    <li>
                        <a  href="{{ path('logout') }}" id="customisation"><i class="glyphicon glyphicon-off"></i> Deconnexion</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

