{% extends 'HorusSiteBundle::layout.html.twig' %}

{% block content %}
<div class="page" id="administrateurs">
    <h2><i class="glyphicon glyphicon-list"></i> Historique des actions de {{ administrateur.firstname }} {{ administrateur.lastname }}</h2>

        <ul class="nav nav-pills nav-stacked">
            {% for action in actions %}
                <li>
                    <h4 class="pull-left">{{ action.titre|raw }}</h4>
                    <span class="pull-right"><small><i class="glyphicon glyphicon-time"></i> {{ action.dateCreated|date('d/m/Y H:i:') }}</small></span>
                    <div class="clear"></div>
                    <p>{{ action.content|raw }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
