{% extends 'HorusSiteBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="page" id="createadministrateur">
        <div class="label label-danger pull-right"><i class="glyphicon glyphicon-time"></i> Modifié il y a {{ administrateur.updatedAt|created_ago }}</div>


        <h1><i class="glyphicon glyphicon-pencil"></i> Editer l'administrateur {{ administrateur.firstname|title }} {{ administrateur.lastname|title }}</h1>
        <a href="{{ path('horus_site_administrateur_history', {'id' : administrateur.id }) }}" class="btn-sm pull-right btn btn-danger"><i class="glyphicon glyphicon-search"></i> Voir ses dernières actions</a>

        <hr class="clear fancy-line">

        <p>Dernière activité: <strong>{{ administrateur.lastActivity|created_ago }}</strong></p>
        <form novalidate="novalidate" action="{{ path('horus_site_edit_administrateur', {'id' : administrateur.id}) }}" method="post">

            <h3>Rôle sur la plateforme</h3>
            <div class="row-fluid">
                <div class="span8">
                    {{ form_row(form.groups) }}
                </div>
            </div>
            <h3>Informations</h3>
            <div class="row-fluid">
                <div class="span3">
                    {{ form_row(form.gender) }}
                </div>
                <div class="span4">
                    {{ form_row(form.firstname) }}
                </div>
                <div class="span4">
                    {{ form_row(form.lastname) }}
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    {{ form_row(form.description) }}
                </div>
            </div>

            <div class="row-fluid">
                <div class="span4">
                    {{ form_row(form.ville) }}
                </div>
                <div class="span4">
                    {{ form_row(form.adresse) }}
                </div>
                <div class="span2">
                    {{ form_row(form.zipcode) }}
                </div>
            </div>

            <div class="row-fluid">
                <div class="span4">
                    {{ form_row(form.email) }}
                </div>
                <div class="span4">
                    {{ form_row(form.password.mdp,{'value' : '', 'attr': {'autocomplete' : 'off'}}) }}
                    <div class="label label-warning">Indiquer si changement</div>
                </div>
                <div class="span4">
                    {{ form_row(form.password.mdp_conf) }}
                </div>
            </div>

            <div class="row-fluid">
                <div class="span4">
                    {{ form_row(form.tel) }}
                </div>
                <div class="span4">
                    {{ form_row(form.entreprise) }}
                </div>
            </div>
            {{ form_rest(form) }}

            <button class="btn btn-primary btn-large" type="submit"><i class="glyphicon glyphicon-pencil"></i> Editer</button>
        </form>
    </div>
{% endblock %}

