{% extends 'HeticSiteBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@HeticSiteBundle/Resources/public/css/index.css' filter="cssrewrite" %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% stylesheets '@HeticSiteBundle/Resources/public/css/test.css' filter="cssrewrite" %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@HeticSiteBundle/Resources/public/js/index.js' filter="cssrewrite" %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}

        <div class="row-fluid">
            <div class="span4">
                <h2>Administration</h2>
            </div><!--/span-->
            <div class="span6">
               <h3>Vous êtes authentifié!</h3>
            </div>
            <div class="span4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn" href="#">View details »</a></p>
            </div><!--/span-->
            <div class="span4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn" href="#">View details »</a></p>
            </div><!--/span-->
        </div><!--/row-->
        <div class="row-fluid">
            <div class="span4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn" href="#">View details »</a></p>
            </div><!--/span-->
            <div class="span4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn" href="#">View details »</a></p>
            </div><!--/span-->
            <div class="span4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn" href="#">View details »</a></p>
            </div><!--/span-->
        </div><!--/row-->
{% endblock %}

