{% extends 'HorusSiteBundle::layout.html.twig' %}

{% block content %}

    <div class="" id="products">
        <h2><i class="glyphicon glyphicon-star"></i> Vos actions commercials</h2>

        {% if commercials is not empty %}
            <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Titre</th>
                <th>Nature</th>
                <th>Produit</th>
                <th>Catégorie</th>
                <th>Visible</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for commercial in commercials %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ commercial.title|truncate('50') }}</td>
                    <td>
                        {% if commercial.nature == 1 %}
                            Remise Nette
                        {% elseif commercial.nature == 2 %}
                            Remise Variable
                        {% else %}
                            Produit offert
                        {% endif %}
                    </td>
                    {% if commercial.produit.title is defined %}
                        <td>{{ commercial.produit.title }}</td>
                    {% else %}
                        <td><span class="label label-warning">Aucun produit</span></td>
                    {% endif %}
                    {% if commercial.category.name is defined %}
                        <td>{{ commercial.category.name }}</td>
                    {% else %}
                        <td><span class="label label-warning">Aucune category</span></td>
                    {% endif %}
                    {% if commercial.isVisible %}
                        <td><i class="glyphicon glyphicon-ok"></i></td>
                    {% else %}
                        <td><i class="glyphicon glyphicon-remove"></i></td>
                    {% endif  %}
                    <td>
                        <a onclick="return(confirm('Etes-vous sûr de vouloir supprimer cette action commerciale ?'));" href="{{ path('horus_site_remove_commercial', {'id' : commercial.id}) }}" class="btn btn-primary"><i class="glyphicon glyphicon-remove"></i></a>
                        <a href="{{ path('horus_site_edit_commercial', {'id' : commercial.id}) }}" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% else %}
            <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <i class="glyphicon glyphicon-info-sign"></i> Aucune action de créer pour le moment.
                <a href="{{ path('horus_site_commercial_create') }}" class="pull-right  btn btn-primary"><i
                            class="glyphicon glyphicon-plus"></i> Ajouter une action commerciale</a>
                <div class="clear"></div>
            </div>
        {% endif %}



        {#<ul class="pagination pull-right">#}
        {#<li class="disabled"><a href="#"><i class="glyphicon glyphicon-chevron-left"></i></a></li>#}
        {#<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>#}
        {#<li class=""><a href="#">2 <span class="sr-only">(current)</span></a></li>#}
        {#<li class=""><a href="#">3 <span class="sr-only">(current)</span></a></li>#}
        {#<li class="disabled"><a href="#"><i class="glyphicon glyphicon-chevron-right"></i></a></li>#}
        {#</ul>#}
        <div class="clear"></div>
    </div>
{% endblock %}

