{% extends 'HorusSiteBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@HorusSiteBundle/Resources/public/js/remise.js' filter="cssrewrite" %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}


{% block content %}
    <div id="editcommercial">
        <a class="btn back btn-danger pull-right" href="{{ path('horus_site_commercials') }}">&larr; Revenir à la liste
            des commercials</a>

        <h1><i class="glyphicon glyphicon-plus"></i> Créer une action commerciale</h1>
        <hr class="clear fancy-line">

        <form novalidate="novalidate" action="{{ path('horus_site_commercial_create') }}" method="post">

            <div class="row-fluid">
                <div class="span12">
                    <label for="title">Titre</label>

                    <div class="input-group">
                        {{ form_widget(form.title) }}
                        <span class="input-group-btn">
                                          <button class="btn btn-search btn-primary"><i
                                                      class="glyphicon glyphicon-pencil"></i></button>
                                      </span>

                    </div>
                    {{ form_errors(form.title) }}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span3">
                    <label for="datePublication">Date de publication</label>
                    {#<input type="text" placeholder="jj/mm/YYYY" id="datePublication" class="date form-control" name="datePublication" required="required">#}
                    {{ form_errors(form.datePublication) }}
                    {{ form_widget(form.datePublication, {'attr' : {'class' : "date form-control" }}) }}
                </div>
                <div class="span3">
                    <label for="dateFinPublication">Fin de publication</label>
                    {{ form_widget(form.dateFinPublication) }}
                    {{ form_errors(form.dateFinPublication) }}
                </div>
                <div class="span6">
                    <label for="nature">Nature</label>
                    {{ form_widget(form.nature) }}
                    {{ form_errors(form.nature) }}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <label for="content">Description</label>
                    {{ form_widget(form.content) }}
                    {{ form_errors(form.content) }}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <label for="category">Catégorie</label>
                    {{ form_widget(form.category) }}
                    {{ form_errors(form.category) }}
                </div>
                <div class="span6">
                    <label for="produit">Produit</label>
                    {{ form_widget(form.produit) }}
                    {{ form_errors(form.produit) }}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <label for="remiseNet">Remise nette (€)</label>
                    {{ form_widget(form.remiseNet) }}
                    {{ form_errors(form.remiseNet) }}
                </div>
                <div class="span4">
                    <label for="remiseVar">Remise variable (%)</label>
                    {{ form_widget(form.remiseVar) }}
                    {{ form_errors(form.remiseVar) }}
                </div>
                <div class="span4">
                    {{ form_widget(form.offert) }}
                    <label for="offert">Produit offert ?</label>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    {{ form_widget(form.isVisible) }}
                    {{ form_errors(form.isVisible) }}
                    <label for="isVisible">Visible sur le site</label>
                </div>
            </div>
            <button class="btn btn-primary btn-large" type="submit"><i class="glyphicon glyphicon-plus"></i> Créer
                cet action commerciale
            </button>
        </form>
    </div>
{% endblock %}

