{% extends '::base.html.twig' %}

{% block title %}Horus CMF Shop{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://bootswatch.com/amelia/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css"/>
    <link rel="stylesheet" type="text/css"
          href="http://davidstutz.github.io/bootstrap-multiselect/css/bootstrap-multiselect.css"/>

    {% stylesheets '@HorusSiteBundle/Resources/public/css/flat/green.css' filter='yui_css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% stylesheets '@HorusSiteBundle/Resources/public/css/main.sass' filter='yui_css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}


{% block body %}
    <a href="https://github.com/you"><img style="z-index: 50000;position: absolute; top: 0; right: 0; border: 0;"
                                          src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"
                                          alt="Fork me on GitHub"></a>
    {% include 'HorusSiteBundle:Default:topmenu_logout.html.twig' %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="container">
                    <div class="row-fluid">
                        <div class="span12">
                            {% include 'HorusSiteBundle:Default:flashdatas.html.twig' %}

                            <div class="">
                                {% block content %}
                                {% endblock %}
                            </div>
                            {#<a style="text-align: center" href="/">© 20013 - 2014 Copyright by Horus. all rights reserved.</a>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <p class="muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="http://damirfoy.com/iCheck/jquery.icheck.min.js?v=0.9.1"></script>
    <script src="http://davidstutz.github.io/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
    <script src="/js/ckeditor/ckeditor.js"></script>


    {% javascripts '@HorusSiteBundle/Resources/public/js/main.coffee'  filter='closure' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}