{% extends 'HorusSiteBundle::layout.html.twig' %}

{% block javascripts %}
        {{ parent() }}
    {% javascripts '@HorusSiteBundle/Resources/public/js/index.js' filter="cssrewrite" %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <div class="page" id="main">
        <h3><i class="glyphicon glyphicon-stats"></i> {{  "Statistiques"|trans }}</h3>
        {{ render(controller('HorusSiteBundle:Chart:months')) }}
        {{ render(controller('HorusSiteBundle:Chart:days')) }}
        <h3><i class="glyphicon glyphicon-th-list"></i> {{  "Dernières commandes"|trans }}</h3>
        {{ render_hinclude(controller('HorusSiteBundle:Commandes:lastcommandes')) }}
        <h3><i class="glyphicon glyphicon-user"></i> {{  "Derniers clients"|trans }}</h3>
        {{ render_hinclude(controller('HorusSiteBundle:Clients:lastclients')) }}
        <h3><i class="glyphicon glyphicon-comment"></i> {{  "Derniers commentaires"|trans }}</h3>
        {{ render_hinclude(controller('HorusSiteBundle:Commentaires:lastcommentaires')) }}

    </div>
{% endblock %}

