{% extends 'HorusSiteBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@HorusSiteBundle/Resources/public/js/index.js' filter="cssrewrite" %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

{% endblock %}

{% block content %}
    <div id="searchproduct" class="page">

        {% if produits is not empty %}
            <h1><i class="glyphicon glyphicon-shopping-cart"></i> Produits pour "{{ app.request.query.get('word') }}" <span class="label-danger label pull-right"><i class="glyphicon glyphicon-shopping-cart"></i> {{ produits.getTotalItemCount }} produits</span></h1>
            <hr class="clear fancy-line">
            {% include 'HorusSiteBundle:Product:_listproducts.html.twig' %}
        {% endif %}

        <div class="clear"></div>
        <div class="pull-right clearing">
            {{ knp_pagination_render(produits) }}
        </div>
        <div class="clear"></div>


        {% if categories is not empty %}
            <h1><i class="glyphicon glyphicon-list"></i> Catégories pour "{{ app.request.query.get('word') }}" <span class="label-danger label pull-right"><i class="glyphicon glyphicon-shopping-cart"></i> {{ categories.getTotalItemCount }} catégories</span></h1>
            <hr class="clear fancy-line">

        {% include 'HorusSiteBundle:Category:_listcategories.html.twig' %}
        {% endif %}

        <div class="clear"></div>
        <div class="pull-right clearing">
            {{ knp_pagination_render(categories) }}
        </div>
        <div class="clear"></div>



        {% if familles is not empty %}
            <h1><i class="glyphicon glyphicon-th-list"></i> Familles pour "{{ app.request.query.get('word') }}" <span class="label-danger label pull-right"><i class="glyphicon glyphicon-shopping-cart"></i> {{ familles.getTotalItemCount }} familles</span></h1>
            <hr class="clear fancy-line">

        {% include 'HorusSiteBundle:Category:_listfamilles.html.twig' %}
        {% endif %}


        <div class="clear"></div>
        <div class="pull-right clearing">
            {{ knp_pagination_render(categories) }}
        </div>
        <div class="clear"></div>


        {% if pages is not empty %}
            <h1><i class="glyphicon glyphicon-list-alt"></i> Pages pour "{{ app.request.query.get('word') }}" <span class="label-danger label pull-right"><i class="glyphicon glyphicon-shopping-cart"></i> {{ pages.getTotalItemCount }} pages</span></h1>
            <hr class="clear fancy-line">

        {% include 'HorusSiteBundle:CMS:_listpages.html.twig' %}
        {% endif %}


        <div class="clear"></div>
        <div class="pull-right clearing">
            {{ knp_pagination_render(pages) }}
        </div>


        {% if articles is not empty %}
            <h1><i class="glyphicon glyphicon-pencil"></i> Articles pour "{{ app.request.query.get('word') }}" <span class="label-danger label pull-right"><i class="glyphicon glyphicon-shopping-cart"></i> {{ articles.getTotalItemCount }} articles</span></h1>
            <hr class="clear fancy-line">

        {% include 'HorusSiteBundle:CMS:_listarticles.html.twig' %}
        {% endif %}


        <div class="clear"></div>
        <div class="pull-right clearing">
            {{ knp_pagination_render(articles) }}
        </div>

        {% if tags is not empty %}
            <h1><i class="glyphicon glyphicon-tags"></i> Tags pour "{{ app.request.query.get('word') }}" <span class="label-danger label pull-right"><i class="glyphicon glyphicon-shopping-cart"></i> {{ tags.getTotalItemCount }} tags</span></h1>
            <hr class="clear fancy-line">

        {% include 'HorusSiteBundle:CMS:_listtags.html.twig' %}
        {% endif %}


        <div class="clear"></div>
        <div class="pull-right clearing">
            {{ knp_pagination_render(tags) }}
        </div>



        {% if marques is not empty %}
            <h1><i class="glyphicon glyphicon-tags"></i> Marques pour "{{ app.request.query.get('word') }}" <span class="label-danger label pull-right"><i class="glyphicon glyphicon-shopping-cart"></i> {{ marques.getTotalItemCount }} tags</span></h1>
            <hr class="clear fancy-line">

        {% include 'HorusSiteBundle:Marques:_listmarques.html.twig' %}
        {% endif %}

        <div class="clear"></div>
        <div class="pull-right clearing">
            {{ knp_pagination_render(tags) }}
        </div>
    </div>
{% endblock %}
