{% for marque in marques %}
    <div class="media">
        <div class="btn-group pull-right">
            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                <i class="glyphicon glyphicon-plus"></i> Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a onclick="return(confirm('Etes-vous sûr de vouloir supprimer cette marque ?'));"
                       href="{{ path('horus_site_remove_marques', {'id' : marque.id}) }}"><i
                                class="glyphicon glyphicon-remove"></i> Supprimer</a></li>
                <li><a href="{{ path('horus_site_edit_pictures_marques', {'id' : marque.id}) }}"><i
                                class="glyphicon glyphicon-picture"></i> Photos</a></li>
                <li><a href="{{ path('horus_site_edit_marques', {'id' : marque.id}) }}"><i
                                class="glyphicon glyphicon-pencil"></i> Editer</a></li>
            </ul>
        </div>
        <a class="pull-left">
            {% if marque.path %}
                <a href="{{ imgmarques ~ marque.path|sizes('big') }}" rel="group" class="pull-left fancybox">
                    <img src="{{ imgmarques ~ marque.path|sizes('medium') }}"/>
                </a>
            {% else %}
                <img class="media-object img-thumbnail" src="http://placehold.it/150x75" alt="...">
            {% endif %}
        </a>

        <div class="media-body">
            <h4 class="media-heading"><a href="">{{ marque.title }}</a>
                {% if marque.active %}
                    <span class="badge badge-success">En ligne</span>
                {% else %}
                    <span class="badge badge-danger">Hors-Ligne</span>
                {% endif %}
            </h4>

            <p>{{ marque.resume|raw }}</p>
        </div>
    </div>
    {% if not loop.last %}
        <hr class="clear fancy-line"/>{% endif %}
{% else %}
    <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <i class="glyphicon glyphicon-info-sign"></i> Aucune marque de créer pour le moment.
        <div class="clear"></div>
    </div>
{% endfor %}