{% for article in articles %}
    <div class="media">
        <div class="btn-group pull-right">
            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                <i class="glyphicon glyphicon-plus"></i> Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a onclick="return(confirm('Etes-vous sûr de vouloir supprimer cet article ?'));" href="{{ path('horus_site_remove_article', {'id' : article.id}) }}"><i class="glyphicon glyphicon-remove"></i> Supprimer</a></li>
                <li><a  href="{{ path('horus_site_edit_article', {'id' : article.id}) }}"><i class="glyphicon glyphicon-pencil"></i> Editer</a></li>
                {% if article.nature == 1 %}
                    <li><a  href="{{ path('horus_site_active_article', {'id' : article.id}) }}"><i class="glyphicon glyphicon-check"></i> Publier</a></li>
                {% else %}
                    <li><a  href="{{ path('horus_site_desactive_article', {'id' : article.id}) }}"><i class="glyphicon glyphicon-minus-sign"></i> Dépublier</a></li>
                {% endif %}
                <li><a  href="{{ path('horus_site_article_commentaire', {'id' : article.id}) }}"><i class="glyphicon glyphicon-comment"></i> Voir les commentaires</a></li>
            </ul>
        </div>
        {% if article.home %}
            <a title="Mis en avant sur la page acceuil" class="ishome athome pull-left" data-url="{{ path('horus_site_article_isnothome', {'id' : article.id}) }}">
                <i class="pull-left glyphicon glyphicon-heart"></i>
            </a>
        {% else %}
            <a title="Non mis en avant sur la page acceuil" class="ishome nothome pull-left" data-url="{{ path('horus_site_article_ishome', {'id' : article.id}) }}">
                <i class="pull-left glyphicon glyphicon-heart-empty"></i>
            </a>
        {% endif %}
        <div class="media-body">
            <h4 class="media-heading"><a href="{{ path('horus_site_edit_article', {'id' : article.id}) }}">{{ article.title }}</a>
                {% if article.nature == 3 %}
                    <span class="badge badge-success">En ligne</span>
                {% elseif article.nature == 2  %}
                    <span class="badge badge-warning">En cours de relecture</span>
                {% else %}
                    <span class="badge badge-danger">Brouillon</span>
                {% endif %}
            </h4>
            <p>{{ article.cover|striptags|truncate(900,'...')|raw }}</p>
            <p class="pull-right"><i class="glyphicon glyphicon-comment"></i> {{ article.commentaires|length }} commentaires</p>
            <div class="clear"></div>
        </div>
    </div>
    {% if not loop.last %}
        <hr class="clear fancy-line"/>{% endif %}
{% else %}
    <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <i class="glyphicon glyphicon-info-sign"></i> Aucun article de créer pour le moment.
        <div class="clear"></div>
    </div>
{% endfor %}