{% for page in pages %}
    <div class="media">
        <div class="btn-group pull-right">
            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                <i class="glyphicon glyphicon-plus"></i> Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a onclick="return(confirm('Etes-vous sûr de vouloir supprimer cette page ?'));" href="{{ path('horus_site_remove_page', {'id' : page.id}) }}"><i class="glyphicon glyphicon-remove"></i> Supprimer</a></li>
                <li><a  href="{{ path('horus_site_edit_page', {'id' : page.id}) }}"><i class="glyphicon glyphicon-pencil"></i> Editer</a></li>
                {% if page.nature == 1 %}
                    <li><a  href="{{ path('horus_site_active_page', {'id' : page.id}) }}"><i class="glyphicon glyphicon-check"></i> Publier</a></li>
                {% else %}
                    <li><a  href="{{ path('horus_site_desactive_page', {'id' : page.id}) }}"><i class="glyphicon glyphicon-minus-sign"></i> Dépublier</a></li>
                {% endif %}
            </ul>
        </div>
        <a class="pull-left">
            {% if page.picture %}
                <a href="{{ imgpages ~ page.picture|sizes('big') }}" rel="group" class="pull-left fancybox">
                    <img src="{{ imgpages  ~ page.picture|sizes('medium') }}"/>
                </a>
            {% else %}
                <img class="media-object img-thumbnail" src="http://placehold.it/150x75" alt="...">
            {% endif %}
            <p class="text-warning"><i class="glyphicon glyphicon-eye-open"></i> {{ page.vues }} vues</p>
        </a>


        <div class="media-body">
            <h4 class="media-heading"><a href="{{ path('horus_site_edit_page', {'id' : page.id}) }}">{{ page.name }}
                </a>
                {% if page.nature == 3 %}
                    <span class="badge badge-success">En ligne</span>
                {% elseif page.nature == 2  %}
                    <span class="badge badge-warning">En cours de relecture</span>
                {% else %}
                    <span class="badge badge-danger">Brouillon</span>
                {% endif %}
            </h4>
            <p>{{ page.cover|striptags|truncate(900,'...')|raw }}</p>
            <h4 class="pull-right"><span class="label label-warning">{{ page.produits|length|default('0') }} produit(s) affecté(s)</span></h4>
        </div>
    </div>
    {% if not loop.last %}
        <hr class="clear fancy-line"/>{% endif %}

{% else %}
    <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <i class="glyphicon glyphicon-info-sign"></i> Aucune page de créer pour le moment.
        <div class="clear"></div>
    </div>
{% endfor %}