{% extends 'HorusSiteBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@HorusSiteBundle/Resources/public/js/pages/page.js' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@HorusSiteBundle/Resources/public/css/pages/page.sass' filter='yui_css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}


{% block content %}

    <div id="createpage" class="page">
        <a class="btn back btn-danger pull-right" href="{{ path('horus_site_pages') }}">&larr; Revenir à la liste des
            page</a>

        <h1><i class="glyphicon glyphicon-plus"></i> Créer une page</h1>
        <hr class="clear fancy-line">



        <form  novalidate="novalidate" action="{{ path('horus_site_page_create') }}" method="post" enctype="multipart/form-data">

            <div class="row-fluid">
                <div class="span12">
                    <label for="name">Nom de la page</label>
                    <div class="input-group">
                        {{ form_widget(form.name) }}
                        <span class="input-group-btn">
                                          <button class="btn btn-search btn-primary"><i
                                                      class="glyphicon glyphicon-pencil"></i></button>
                                      </span>

                    </div>
                    {{ form_errors(form.name) }}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <label for="parent">Page parente</label>
                    {{ form_widget(form.parent) }}
                    {{ form_errors(form.parent) }}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <label for="nature">Etat</label>
                    {{ form_widget(form.nature) }}
                    {{ form_errors(form.nature) }}
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <label for="chapeau">Chapeau de la page</label>
                    {{ form_widget(form.chapeau) }}
                    {{ form_errors(form.chapeau) }}
                </div>
            </div>


            <div class="row-fluid">
                <div class="span12">
                    <label for="cover">Petit résumé de la page</label>
                    {{ form_widget(form.cover) }}
                    {{ form_errors(form.cover) }}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <label for="description">Description complète</label>
                        {{ form_widget(form.description) }}
                    {{ form_errors(form.description) }}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <label for="file"><i class="glyphicon glyphicon-picture"></i> Image de présentation</label>
                    {{ form_widget(form.file) }}
                    {{ form_errors(form.file) }}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <label for="video">Vidéo de présentation</label>
                    {{ form_widget(form.video) }}
                    {{ form_errors(form.video) }}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <label for="articles"><i class="glyphicon glyphicon-share-alt"></i> Articles associés à la page</label>
                        {{ form_widget(form.articles) }}
                    {{ form_errors(form.articles) }}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <label for="produits"><i class="glyphicon glyphicon-share-alt"></i> Produits associés à la page</label>
                        {{ form_widget(form.produits) }}
                    {{ form_errors(form.produits) }}
                </div>
            </div>
            {{ form_rest(form) }}

            <button class="btn btn-primary btn-large" type="submit"><i class="glyphicon glyphicon-plus"></i> Ajouter
                cette page
            </button>
        </form>
    </div>
{% endblock %}

