{% extends 'HorusSiteBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@HorusSiteBundle/Resources/public/css/pages.sass' filter='yui_css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="page" id="pages">
        <h2><i class="glyphicon glyphicon-file"></i> Vos pages({{ pages|length }})</h2>
        {% include 'HorusSiteBundle:Slots:display.html.twig' %}

        {% for page in pages %}
            <div class="media">
                <div class="btn-group pull-right">
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-plus"></i> Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a onclick="return(confirm('Etes-vous sûr de vouloir supprimer cette page ?'));" href="{{ path('horus_site_remove_page', {'id' : page.id}) }}"><i class="glyphicon glyphicon-remove"></i> Supprimer</a></li>
                        <li><a  href="{{ path('horus_site_edit_page', {'id' : page.id}) }}"><i class="glyphicon glyphicon-pencil"></i> Editer</a></li>
                    </ul>
                </div>


                <div class="media-body">
                    <h4 class="media-heading"><a href="{{ path('horus_site_edit_page', {'id' : page.id}) }}">{{ page.name }}</a>
                        {% if page.visible %}
                            <span class="badge badge-success">En ligne</span>
                        {% else %}
                                <span class="badge badge-danger">Hors-Ligne</span>
                        {% endif %}
                    </h4>
                    <p>{{ page.cover|striptags|truncate(900,'...')|raw }}</p>
                        <h4 class="pull-right"><span class="label label-info">{{ page.produits|length|default('0') }} produit(s)</span></h4>
                </div>
            </div>
            {% if not loop.last %}
                <hr class="clear fancy-line"/>{% endif %}

        {% else %}
            <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <i class="glyphicon glyphicon-info-sign"></i> Aucune page de créer pour le moment.
                <a href="{{ path('horus_site_page_create') }}" class="pull-right btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Ajouter une page</a>
                <div class="clear"></div>
            </div>
        {% endfor %}

        <div class="clear"></div>
        <div class="action">
            <a href="{{ path('horus_site_page_create') }}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Ajouter un page</a>
        </div>
    </div>
{% endblock %}

