{% extends 'HorusSiteBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@HorusSiteBundle/Resources/public/css/tags.sass' filter='yui_css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}


{% block content %}

    <div class="page" id="tags">
        <h2><i class="glyphicon glyphicon-tags"></i> Vos tags</h2>
        {% include 'HorusSiteBundle:Slots:display.html.twig' %}


        {% if tags is not empty %}

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Mot-Clefs</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for tag in tags %}
                    <tr>
                        <td>{{ tag.id }}</td>
                        <td><span class="label label-primary">{{ tag.word }}</span></td>
                        <td>
                            <a onclick="return(confirm('Etes-vous sûr de vouloir supprimer ce tag ?'));"
                               href="{{ path('horus_site_remove_tag', {'id' : tag.id}) }}" class="btn btn-primary"><i
                                        class="glyphicon glyphicon-remove"></i></a>
                            <a href="{{ path('horus_site_edit_tag', {'id' : tag.id}) }}" class="btn btn-primary"><i
                                        class="glyphicon glyphicon-pencil"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <i class="glyphicon glyphicon-info-sign"></i> Aucun tag de créer pour le moment.
                <a href="{{ path('horus_site_tag_create') }}" class="pull-right btn btn-primary"><i
                            class="glyphicon glyphicon-tag"></i> Ajouter un tag</a>

                <div class="clear"></div>
            </div>
        {% endif %}
        <div class="action">
            <a href="{{ path('horus_site_tag_create') }}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Ajouter un tag</a>
        </div>

    </div>
{% endblock %}

