{% extends 'HeticSiteBundle::layout.html.twig' %}

{% block content %}

    <div class="" id="products">
        <h2><i class="glyphicon glyphicon-gift"></i> Vos images</h2>

        <h3>Image de produits</h3>
        <table  class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Image</th>
                <th>Produit</th>
                <th>En couverture</th>
                <th>Visible</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for image in medias %}
                <tr>
                    <td>{{ image.id }}</td>
                    <td>
                        <img class="img-thumbnail" src="{{ imgproducts ~  image.produit.id ~ '/' ~ image.path }} "/>
                    </td>
                    <td>
                        <a href="{{ path('hetic_site_visualize_product', {'id' : image.produit.id }) }}">{{ image.produit.title }}</a>
                    </td>
                    <td>{% if image.cover %}<i class="glyphicon glyphicon-eye-open"></i> {% else %}<i
                                class="glyphicon glyphicon-eye-close"></i> {% endif %}</td>
                    <td>{% if image.visible %}<i class="glyphicon glyphicon-ok"></i>{% else %}<i
                                class="glyphicon glyphicon-remove"></i>{% endif %}</td>
                    <td>
                        <a class="btn btn-primary btn-sm"
                           href="{{ path('hetic_site_edit_pictures_product', {'id' : image.produit.id}) }}"><i class="glyphicon glyphicon-pencil"></i></a>

                        <a class="btn btn-primary btn-sm"  onclick="return(confirm('Etes-vous sûr de vouloir supprimer cette photo?'));"
                           href="{{ path('hetic_site_remove_image_product', {'id' : image.id}) }}"><i
                                    class="glyphicon glyphicon-remove"></i></a>
                        <a class="btn btn-primary btn-sm"  onclick="return(confirm('Etes-vous sûr de vouloir mettre en avant cette photo?'));"
                           href="{{ path('hetic_site_cover_image_product', {'id' : image.id}) }}"><i
                                    class="glyphicon glyphicon-heart"></i></a>
                    </td>
                </tr>
            {% else %}
                <div class="alert alert-dismissable alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <i class="glyphicon glyphicon-info-sign"></i> Aucun article de créer pour le moment.
                    <a href="{{ path('hetic_site_article_create') }}" class="btn btn-primary pull-right"><i
                                class="glyphicon glyphicon-plus"></i> Ajouter un article</a>

                    <div class="clear"></div>
                </div>
            {% endfor %}
            </tbody>
        </table>

        <div class="clear"></div>
        <div class="pull-right clearing">
            {{ knp_pagination_render(medias) }}
        </div>
        <div class="clear"></div>


        <h3>Image de catégorie</h3>

        <table  class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Image</th>
                <th>Catégorie</th>
                <th>En couverture</th>
                <th>Visible</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for image in mediascat %}
                <tr>
                    <td>{{ image.id }}</td>
                    <td>
                            <img class="img-thumbnail" src="{{ imgcategories ~  image.category.id ~ '/' ~ image.path }} "/>
                    </td>
                    <td>
                        <a href="{{ path('hetic_site_category', {'id' : image.category.id }) }}">{{ image.category.name }}</a>
                    </td>
                    <td>{% if image.cover %}<i class="glyphicon glyphicon-eye-open"></i> {% else %}<i
                                class="glyphicon glyphicon-eye-close"></i> {% endif %}</td>
                    <td>{% if image.visible %}<i class="glyphicon glyphicon-ok"></i>{% else %}<i
                                class="glyphicon glyphicon-remove"></i>{% endif %}</td>
                    <td>
                        <a class="btn btn-primary btn-sm"
                           href="{{ path('hetic_site_edit_image_category', {'id' : image.category.id}) }}"><i class="glyphicon glyphicon-pencil"></i></a>


                        <a class="btn btn-primary btn-sm"  onclick="return(confirm('Etes-vous sûr de vouloir supprimer cette photo?'));"
                           href="{{ path('hetic_site_remove_image_product', {'id' : image.id}) }}"><i
                                    class="glyphicon glyphicon-remove"></i></a>
                        <a class="btn btn-primary btn-sm"  onclick="return(confirm('Etes-vous sûr de vouloir mettre en avant cette photo?'));"
                           href="{{ path('hetic_site_cover_image_product', {'id' : image.id}) }}"><i
                                    class="glyphicon glyphicon-heart"></i></a>
                    </td>
                </tr>
            {% else %}
                <div class="alert alert-dismissable alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <i class="glyphicon glyphicon-info-sign"></i> Aucun article de créer pour le moment.
                    <a href="{{ path('hetic_site_article_create') }}" class="btn btn-primary pull-right"><i
                                class="glyphicon glyphicon-plus"></i> Ajouter un article</a>

                    <div class="clear"></div>
                </div>
            {% endfor %}
            </tbody>
        </table>

        <div class="clear"></div>
        <div class="pull-right clearing">
            {{ knp_pagination_render(medias) }}
        </div>
        <div class="clear"></div>



    </div>
{% endblock %}

