{% extends 'HorusSiteBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/js/dropzone.js"></script>

    {% javascripts '@HorusSiteBundle/Resources/public/js/product.js' filter="cssrewrite" %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}


{% block content %}
    <div id="pictureproduct" class="page">
        <a class="btn back btn-danger pull-right" href="{{ path('horus_site_fournisseurs') }}">&larr; Revenir à la liste des fournisseurs</a>

        <h1><i class="glyphicon glyphicon-camera"></i> Fournisseur "{{ fournisseur.title|title }}"</h1>
        <hr class="clear fancy-line">
        <h3>Les photos</h3>
        <table>
            <tbody>
            {% for image in fournisseur.images %}
                <tr>
                    <td>
                        {% if image.cover %}
                            <span class="label label-success">Cette photo a été mise en avant</span><br/><br/>
                        {% endif %}
                        <a class="btn btn-primary" href="{{ path('horus_site_remove_image_fournisseur', {'id' : image.id}) }}"><i class="glyphicon glyphicon-remove"></i></a>
                        <a class="btn btn-primary" href="{{ path('horus_site_cover_image_fournisseur', {'id' : image.id}) }}"><i class="glyphicon glyphicon-heart"></i></a>
                    </td>
                    <td>
                        <a rel="group" class="pull-left fancybox" href="{{ imgfournisseurs ~  fournisseur.id ~ '/' ~ image.path }}">
                            <img class="img-thumbnail zoom" src="{{ imgfournisseurs ~  fournisseur.id ~ '/' ~ image.path }}"/>
                        </a>

                    </td>
                </tr>
            {% else %}
                <div class="alert alert-dismissable alert-warning">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <i class="glyphicon glyphicon-warning-sign"></i> Aucune photo pour le moment
                </div>
            {% endfor %}
            </tbody>
        </table>

        <hr class="clear"/>

        <h3>Ajouter des photos</h3>

        <form action="{{ path('horus_site_edit_pictures_fournisseurs', {'id' : fournisseur.id }) }}" class="dropzone"
              id="my-awesome-dropzone">
            <div class="fallback">
                <h3><i class="glyphicon glyphicon-picture"></i> Déposer votre image ici</h3>
                <input name="file" type="file" multiple/>
            </div>
        </form>
    </div>
{% endblock %}

