
<table class="table table-striped">
    <thead>
    <tr>
        <th>Nom/Prénom</th>
        <th>Ville</th>
        <th>Email</th>
        <th>Tel</th>
        <th>Dernière connexion</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for client in clients %}
        <tr>
            <td>{{ client.firstname|title }} {{ client.lastname|title }}</td>
            <td>{{ client.ville|title }}({{ client.departement }}) </td>
            <td><a href="mailto:{{ client.email }}">{{ client.email }}</a></td>
            <td><i>{{ client.tel|default('Non précisé') }}</i></td>
            <td>{{ client.dateAuth|created_ago|default('Pas encore connecté') }}</td>
            <td>
                <div class="btn-group pull-right">
                <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-plus"></i> Action <span class="caret"></span>
                </button>
                    <ul class="dropdown-menu">
                        <li>
                            {% if client.enabled  %}
                                <a onclick="return(confirm('Etes-vous sûr de vouloir desactiver ce client?'));" href="{{ path('horus_site_desactive_client', {'id' : client.id }) }}" ><i class="glyphicon glyphicon-minus-sign"></i> Désactiver</a>
                            {% else %}
                                <a onclick="return(confirm('Etes-vous sûr de vouloir activer ce client?'));" href="{{ path('horus_site_active_client', {'id' : client.id }) }}" ><i class="glyphicon glyphicon-ok"></i> Activer</a>
                            {% endif %}
                        </li>
                        <li>
                            <a href="{{ path('horus_site_edit_client', {'id' : client.id }) }}"><i class="glyphicon glyphicon-pencil"></i> Editer</a>
                        </li>
                        <li>
                            <a onclick="return(confirm('Etes-vous sûr de vouloir supprimer ce client?'));" href="{{ path('horus_site_remove_client', {'id' : client.id }) }}"><i class="glyphicon glyphicon-remove"></i> Supprimer</a>
                        </li>
                        <li>
                            <a href="{{ path('horus_site_client', {'id' : client.id }) }}"><i class="glyphicon glyphicon-search"></i> Voir son profil</a>
                        </li>
                        <li>
                            <a href="{{ path('horus_site_panier_client', {'id' : client.id }) }}"><i class="glyphicon glyphicon-shopping-cart"></i> Voir son panier</a>
                        </li>
                        <li>
                            <a href="{{ path('horus_site_adresses_client', {'id' : client.id }) }}"><i class="glyphicon glyphicon-map-marker"></i> Voir ses adresses</a>
                        </li>
                        <li>
                            <a href="{{ path('horus_site_commandes_client', {'id' : client.id}) }}"><i
                                        class="glyphicon glyphicon-transfer"></i> Voir ses commandes</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    {% else %}
        <tr>
            <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <i class="glyphicon glyphicon-info-sign"></i> Aucun client de créer pour le moment.
                <a href="{{ path('horus_site_article_create') }}" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-plus"></i> Ajouter un article</a>
                <div class="clear"></div>
            </div>
        </tr>
    {% endfor %}
    </tbody>
</table>