{% extends 'HorusSiteBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="page" id="clients">
        <h1><i class="glyphicon glyphicon-user"></i> Client {{ client.firstname|title }} {{ client.lastname|title }}
        </h1>
        <a class="btn back btn-danger pull-right" href="{{ path('horus_site_clients') }}">&larr; Revenir à la liste des
            clients</a>

        <hr class="clear fancy-line">


        <p>Nom / Prénom: {{ client.firstname|title }} {{ client.lastname|title }}</p>

        <p>Email : {{ client.email }}</p>

        <p>Entreprise {{ client.entreprise|default('Aucune') }}</p>

        <p>Description: {{ client.description }}</p>

        <p>Date de naissance: {{ client.dob|date('d/m/Y') }}</p>

        <p>Date de création: {{ client.createdAt|date('d/m/Y') }}</p>

        <p>Date de mise à jour: {{ client.updatedAt|date('d/m/Y') }}</p>

        <p>Adresse primaire: {{ client.adresse }} {{ client.zipcode }}  {{ client.ville }}</p>

        <p>Tel: {{ client.tel }}</p>

        <p>Date de connexion: {{ client.dateAuth|created_ago|default('Pas encore connecté') }}</p>

        <p>
            <a href="{{ path('horus_site_edit_client', {'id' : client.id }) }}" class="btn btn-primary"><i
                        class="glyphicon glyphicon-pencil"></i></a>
            <a href="{{ path('horus_site_remove_client', {'id' : client.id }) }}" class="btn btn-primary"><i
                        class="glyphicon glyphicon-remove"></i></a>
        </p>

        {% if  client.cart is not empty %}
            <h3>Panier</h3>
            <p>Total TTC: {{ client.cart.totalTTC }} euros</p>
            <p>Total HT: {{ client.cart.totalHT }} euros</p>
            <p>Date de création: {{ client.cart.dateCreated|date('d/m/Y') }}</p>
        {% endif %}

        {% if  client.addresses is not empty %}
            <h3>Adresse</h3>
        {% endif %}
        {% for adresse in client.addresses %}
            <p>{{ adresse.adresse }}</p>
            <p>{{ adresse.zipcode }} {{ adresse.ville|title }}</p>
        {% endfor %}
    </div>
{% endblock %}

