{% extends 'HorusSiteBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@HorusSiteBundle/Resources/public/js/pages/client.js' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@HorusSiteBundle/Resources/public/css/pages/client.sass' filter='yui_css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="page" id="editclient">
        <a class="btn back btn-danger pull-right" href="{{ path('horus_site_clients') }}">&larr; Revenir à la liste des clients</a>

        <h1><i class="glyphicon glyphicon-pencil"></i> Editer le client {{ client.firstname|title }} {{ client.lastname|title }}</h1>
        <div class="label label-danger pull-right"><i class="glyphicon glyphicon-time"></i> Modifié il y a {{ client.updatedAt|created_ago }}</div>

        <hr class="clear fancy-line">

        <form  novalidate="novalidate" action="{{ path('horus_site_edit_client', {'id' : client.id }) }}" method="post">

            <div class="row-fluid">
                <div class="span3">
                    {{ form_row(form.gender) }}
                </div>
                <div class="span4">
                    {{ form_row(form.firstname) }}
                </div>
                <div class="span4">
                    {{ form_row(form.lastname) }}
                </div>
            </div>

            <div class="row-fluid">
                <div class="span2">
                    <label for="day">Jour</label>
                    {{ form_widget(form.dob['day']) }}
                    {{ form_errors(form.dob['day']) }}
                </div>
                <div class="span2">
                    <label for="day">Mois</label>
                    {{ form_widget(form.dob['month']) }}
                    {{ form_errors(form.dob['month']) }}
                </div>
                <div class="span2">
                    <label for="day">Années</label>
                    {{ form_widget(form.dob['year']) }}
                    {{ form_errors(form.dob['year']) }}
                </div>
            </div>
            <div class="row-fluid">

                <div class="span4">
                    {{ form_row(form.optin) }}
                </div>
                <div class="span4">
                    {{ form_row(form.optinPartenaire) }}
                </div>
            </div>

            <div class="row-fluid">
                <div class="span4">
                    {{ form_row(form.description) }}
                </div>
                <div class="span4">
                    {{ form_row(form.adresse) }}
                </div>
                <div class="span2">
                    {{ form_row(form.zipcode) }}
                </div>
            </div>

            <div class="row-fluid">
                <div class="span4">
                    {{ form_row(form.ville) }}
                </div>
                <div class="span4">
                    {{ form_row(form.email) }}
                </div>
                <div class="span4">
                    {{ form_row(form.password) }}
                    <div class="label label-warning">Indiquer si changement</div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span4">
                    {{ form_row(form.tel) }}
                </div>
                <div class="span4">
                    {{ form_row(form.entreprise) }}
                </div>
            </div>
            {{ form_row(form) }}

            <button class="btn btn-primary btn-large" type="submit"><i class="glyphicon glyphicon-pencil"></i> Editer
                ce client
            </button>
        </form>
    </div>
{% endblock %}

