{% extends 'HorusSiteBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@HorusSiteBundle/Resources/public/js/product.js' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}


{% block content %}

    <div id="visualizeproduct">
        <div class="well">
            <a class="btn back btn-danger pull-right" href="{{ path('horus_site_products') }}">&larr; Revenir à la liste de
                produit</a>

            <h1><i class="glyphicon glyphicon-search"></i> "{{ produit.title|title }}"</h1>
            <hr class="clear fancy-line">
            <h3>
                <strong>Titre:</strong> {{ produit.title }}
            </h3>
            {% if produit.isVisible %}
                <span class="label label-success"><i class="glyphicon glyphicon-ok"></i> Produit est en ligne</span>
            {% else %}
                <span class="label label-danger"><i class="glyphicon glyphicon-remove"></i> Hors-ligne</span>
            {% endif %}

            <p>
                <strong>Référence:</strong> {{ produit.reference|default('Aucun pour le moment') }}
            </p>

            <p>
                <strong>Prix HT: </strong> {{ produit.prixHT }}€
            </p>

            <p>
                <strong>Prix TTC: </strong> {{ produit.prixTTC }}€
            </p>

            <p>
                <strong>Quantité: </strong> {{ produit.quantity }} produits
            </p>

            <p>
                <strong>Ean:</strong> {{ produit.ean|default('Aucun pour le moment') }}
            </p>

            <p>
                <strong>Service:</strong> {{ produit.service|raw|default('Aucun pour le moment') }}
            </p>

            <p>
                {% if produit.etat == 1 %}
                    <strong>Etat: </strong> Neuf
                {% elseif produit.etat == 2 %}
                    <strong>Etat: </strong> Occasion
                {% elseif produit.etat == 3 %}
                    <strong>Etat: </strong> Reconditionné
                {% endif %}
            </p>

            <p>
                {% if produit.status == 1 %}
                    <strong>Status: </strong> Disponible à la vente
                {% elseif produit.status == 2 %}
                    <strong>Status: </strong> Juste afficher le prix
                {% elseif produit.status == 3 %}
                    <strong>Status: </strong> Gratuit
                {% endif %}
            </p>

            <p>
                {% if produit.tva == 1 %}
                    <strong>TVA: </strong> 19.6%
                {% elseif produit.tva == 2 %}
                    <strong>TVA: </strong> 20%
                {% elseif produit.tva == 3 %}
                    <strong>TVA: </strong> 7%
                {% elseif produit.tva == 4 %}
                    <strong>TVA: </strong> 10%
                {% elseif produit.tva == 5 %}
                    <strong>TVA: </strong> 5.5%
                {% elseif produit.tva == 6 %}
                    <strong>TVA: </strong> 2.1%
                {% endif %}
            </p>

            {% if produit.prodparent.title is defined %}
                <p>
                    <strong>Produit parent: </strong> {{ produit.prodparent.title }} <a
                            href="{{ path('horus_site_visualize_product', {'id' : produit.prodparent.id }) }}">Voir le
                        produit</a>
                </p>
            {% endif %}
            <p>
                <strong>Accroche: </strong> {{ produit.accroche|default('Aucun pour le moment') }}
            </p>


            <hr class="fancy-line" />
            <h3>Résumé</h3>
            <p>
                {{ produit.cover|raw }}
            </p>
            <h3>Description</h3>
            <p>
                 {{ produit.content|raw }}
            </p>
            <hr class="fancy-line" />
            <h3>Images</h3>
            {% for image in produit.images %}
                {{ image.title }}
                <a onclick="return(confirm('Etes-vous sûr de vouloir supprimer cette photo?'));"  href="{{ path('horus_site_remove_image_product', {'id' : image.id}) }}"><i class="glyphicon glyphicon-remove"></i></a>
                <a onclick="return(confirm('Etes-vous sûr de vouloir mettre en avant cette photo?'));"  href="{{ path('horus_site_cover_image_product', {'id' : image.id}) }}"><i class="glyphicon glyphicon-heart"></i></a>
                <img class="img-thumbnail" src="{{ imgproducts ~  produit.id ~ '/' ~ image.path }}">

                {% if image.cover %}
                    <span class="label label-success">Cette photo a été mise en avant</span>
                {% endif %}

            {% else %}
                <div class="alert alert-dismissable alert-warning">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <i class="glyphicon glyphicon-warning-sign"></i> Aucune image pour le moment
                </div>
            {% endfor %}
            <hr class="fancy-line" />
            <h3>Accessoires</h3>
            {% for accessoire in produit.accesories %}
                <div class="media">
                    <a class="pull-left" href="#">
                        {% if produit.starPicture  %}
                            <img src="{{ imgproducts ~  produit.id ~ '/' ~ produit.starPicture.path }} " />
                        {% else  %}
                            <img class="media-object img-thumbnail" src="http://placehold.it/150x75" alt="...">
                        {% endif  %}
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="">{{ produit.title }}</a></h4>
                        <p>{{ produit.cover|raw }}</p>
                        {% if produit.quantity > 0 %}
                            <span class="badge badge-success pull-left">{{ produit.quantity }} en stock</span>
                        {% else %}
                            <span class="badge badge-danger pull-left">Rupture de stock</span>
                        {% endif %}
                        <p>
                            <a href="" class="btn-xs btn btn-warning pull-right"><i class="glyphicon glyphicon-search"></i> Voir le produit</a>
                        </p>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-dismissable alert-warning">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <i class="glyphicon glyphicon-warning-sign"></i> Aucune image pour le moment
                </div>
            {% endfor %}
            <hr class="fancy-line" />
            <h3>Articles relatifs</h3>
            {% for article in produit.articles %}
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading"><a href="">{{ article.title }}</a></h4>
                        <p>{{ article.cover|raw }}</p>
                        <p>
                            <a href="" class="btn-xs btn btn-warning pull-right"><i class="glyphicon glyphicon-search"></i> Voir le produit</a>
                        </p>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-dismissable alert-warning">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <i class="glyphicon glyphicon-warning-sign"></i> Aucune articles pour le moment
                </div>
            {% endfor %}

            <hr class="fancy-line" />
            <h3>Catégorie</h3>
            <p>Catégorie principale : <a href="{{ path('horus_site_category', {'id' : produit.category.id}) }}"> {{ produit.category.name }}</a></p>
            <p>Catégories secondaire: </p>
            <ul>
            {% for cat in produit.cates %}
                   <li><a href="{{ path('horus_site_category', {'id' : cat.id}) }}">{{ cat.name }}</a></li>
            {% else %}
                <div class="alert alert-dismissable alert-warning">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <i class="glyphicon glyphicon-warning-sign"></i> Aucune catégorie secondaire pour le moment
                </div>
            {% endfor %}
            </ul>
            <p>Familles: </p>
            <ul>
            {% for cat in produit.familles %}
                   <li><a href="{{ path('horus_site_famille', {'id' : cat.id}) }}">{{ cat.name }}</a></li>
            {% else %}
                <div class="alert alert-dismissable alert-warning">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <i class="glyphicon glyphicon-warning-sign"></i> Aucune famille pour le moment
                </div>
            {% endfor %}
            </ul>

            <p>Mots clefs: </p>
            {% for tag in produit.tags %}
            <h4><span class="label label-primary">{{ tag.word }}</span></h4>
            {% else %}
                <div class="alert alert-dismissable alert-warning">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <i class="glyphicon glyphicon-warning-sign"></i> Aucune tag pour le moment
                </div>
            {% endfor %}


            <hr class="fancy-line" />
            <h3>Fiches Techniques</h3>

            <table class="table-hover table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Titre</th>
                    <th>Contenu</th>
                </tr>
                </thead>
                <tbody>
                    {% for meta in produit.metas %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td><strong>{{ meta.title }}</strong></td>
                            <td>{{ meta.content }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <div class="alert alert-dismissable alert-warning">
                                <i class="glyphicon glyphicon-warning-sign"></i> Aucune fiche pour le moment
                            </div>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('horus_site_edit_product', {'id' : produit.id}) }}" class="btn btn-primary"><i
                        class="glyphicon glyphicon-pencil"></i> Editer ce produit</a>
        </div>
    </div>
{% endblock %}

