{% extends 'HeticSiteBundle::layout.html.twig' %}

{% block content %}

    <div class="" id="products">
        <h2><i class="glyphicon glyphicon-gift"></i> Catégory "{{ category.name|title }}"</h2>

        <div class="btn-group pull-right">
            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                <i class="glyphicon glyphicon-plus"></i> Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                {% if category.visible %}
                    <li><a onclick="return(confirm('Etes-vous sûr de vouloir désactiver cette catégory ?'));" href="{{ path('hetic_site_desactive_category', {'id' : category.id}) }}"><i class="glyphicon glyphicon-minus-sign"></i> Désactiver</a></li>
                {% else %}
                    <li><a onclick="return(confirm('Etes-vous sûr de vouloir activer cette catégory ?'));" href="{{ path('hetic_site_active_category', {'id' : category.id}) }}"><i class="glyphicon glyphicon-ok"></i> Activer</a></li>
                {% endif %}
                <li><a onclick="return(confirm('Etes-vous sûr de vouloir supprimer cette catégory ?'));" href="{{ path('hetic_site_remove_category', {'id' : category.id}) }}"><i class="glyphicon glyphicon-remove"></i> Supprimer</a></li>
                <li><a  href="{{ path('hetic_site_edit_category', {'id' : category.id}) }}"><i class="glyphicon glyphicon-pencil"></i> Editer</a></li>
                <li><a  href="{{ path('hetic_site_edit_image_category', {'id' : category.id}) }}"><i class="glyphicon glyphicon-camera"></i> Photos</a></li>
            </ul>
        </div>
        <a class="pull-left" href="#">
            {% if category.starPicture  %}
                <img src="{{ imgcategories ~  category.id ~ '/' ~ category.starPicture.path }} " />
            {% else  %}
                <img class="media-object img-thumbnail" src="http://placehold.it/150x75" alt="...">
            {% endif  %}
        </a>

        <h3>La description</h3>
        <p>
            {{ category.description|raw }}
        </p>

        <h3>Les produits</h3>
        {% for produit in category.produits %}
            <div class="media">
                <div class="btn-group pull-right">
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-plus"></i> Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {% if produit.isVisible %}
                            <li><a onclick="return(confirm('Etes-vous sûr de vouloir désactiver cet article?'));" href="{{ path('hetic_site_desactive_product', {'id' : produit.id}) }}"><i class="glyphicon glyphicon-minus-sign"></i> Désactiver</a></li>
                        {% else %}
                            <li><a onclick="return(confirm('Etes-vous sûr de vouloir activer cet article?'));" href="{{ path('hetic_site_active_product', {'id' : produit.id}) }}"><i class="glyphicon glyphicon-ok"></i> Activer</a></li>
                        {% endif %}
                        <li><a onclick="return(confirm('Etes-vous sûr de vouloir supprimer cet article?'));" href="{{ path('hetic_site_remove_product', {'id' : produit.id}) }}"><i class="glyphicon glyphicon-remove"></i> Supprimer</a></li>
                        <li><a  href="{{ path('hetic_site_edit_product', {'id' : produit.id}) }}"><i class="glyphicon glyphicon-pencil"></i> Editer</a></li>
                        <li><a  href="{{ path('hetic_site_edit_pictures_product', {'id' : produit.id}) }}"><i class="glyphicon glyphicon-camera"></i> Photos</a></li>
                        <li><a  href="{{ path('hetic_site_visualize_product', {'id' : produit.id}) }}"><i class="glyphicon glyphicon-search"></i> Voir</a></li>

                    </ul>
                </div>
                <a class="pull-left" href="#">
                    {% if produit.starPicture  %}
                        <img src="{{ imgproducts ~  produit.id ~ '/' ~ produit.starPicture.path }} " />
                    {% else  %}
                        <img class="media-object img-thumbnail" src="http://placehold.it/150x75" alt="...">
                    {% endif  %}
                </a>

                <div class="media-body">
                    <h4 class="media-heading"><a href="">{{ produit.title }}</a>
                        {% if produit.isVisible %}
                            <span class="badge badge-success">En ligne</span>
                        {% else %}
                            <span class="badge badge-danger">Hors-Ligne</span>
                        {% endif %}
                    </h4>

                    <p>{{ produit.cover|raw }}</p>
                    <h3>
                        {% if produit.quantity > 0 %}
                            <span class="label label-success pull-left">{{ produit.quantity }} en stock</span>
                        {% else %}
                            <span class="label label-danger pull-left">Rupture de stock</span>
                        {% endif %}
                    </h3>
                    <p>
                        <a href="{{ path('hetic_site_visualize_product', {'id' : produit.id}) }}" class="btn-xs btn btn-warning pull-right"><i class="glyphicon glyphicon-search"></i> Voir le produit</a>
                    </p>
                </div>
            </div>
            {% if not loop.last %}
                <hr class="clear fancy-line"/>{% endif %}
        {% else %}
            <div class="alert alert-dismissable alert-warning">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <i class="glyphicon glyphicon-warning-sign"></i> Aucune produits pour le moment
            </div>
        {% endfor %}


        <div class="clear"></div>
    </div>
{% endblock %}

